h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.822);
    font-weight: bold;

}
.rows{
    border: none black 2px;
    background-color: rgb(203, 228, 228);
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.columns{
    border:  black 2px;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
}